In [1]:
import pandas as pd
import yfinance as yf

In [2]:
start = '2021-01-01'
end = '2022-01-01'

In [3]:
data = yf.download('TSLA', start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [4]:
df=data.copy()

In [10]:
df_weekly=df.resample('W-FRI').agg({'Open':'first',
                                'High':'max',
                                'Low':'min',
                                'Close':'last',
                                'Volume':'sum'})

In [11]:
df_weekly

                  Open        High         Low       Close     Volume
Date
2021-01-08  239.820007  294.829987  239.063339  293.339996  756413400
2021-01-15  283.133331  289.333344  267.873322  275.386658  626786100
2021-01-22  279.266663  286.500000  276.206665  282.213318  274861500
2021-01-29  285.000000  300.133331  260.033325  264.510010  459023400
2021-02-05  271.429993  293.500000  265.186676  284.076660  307381200
2021-02-12  289.890015  292.589996  261.776672  272.040009  350779800
2021-02-19  272.666656  273.666656  254.003326  260.433319  248142600
2021-02-26  254.213333  256.166656  206.333328  225.166672  662270100
2021-03-05  230.036667  240.369995  179.830002  199.316666  709177200
2021-03-12  200.183334  239.283340  186.263336  231.243332  749261100
2021-03-19  231.363327  237.726669  208.206665  218.289993  534067800
2021-03-26  228.196671  233.206665  199.963333  206.236664  530631000
2021-04-02  205.213333  230.806671  197.003326  220.583328  410115300
2021-04-09  235.903336  236.053329  222.613327  225.673340  425356200
2021-04-16  228.566666  260.263336  227.363327  246.593338  535902900
2021-04-23  239.866669  251.256668  230.600006  243.133331  511413000
2021-04-30  247.000000  249.766663  222.046661  236.479996  457051800
2021-05-07  234.600006  235.333328  216.666672  224.123337  389814300
2021-05-14  221.633331  221.683334  186.550003  196.580002  567827100
2021-05-21  191.850006  198.893326  182.326660  193.626663  496953300
2021-05-28  193.866669  211.863327  191.216660  208.406662  420932700
2021-06-04  209.266663  211.266663  190.406662  199.683334  286609500
2021-06-11  197.276672  207.696671  194.293335  203.296661  315919800
2021-06-18  204.076660  209.449997  197.833328  207.770004  322783500
2021-06-25  208.160004  232.539993  202.960007  223.956665  460649700
2021-07-02  223.880005  233.333328  223.440002  226.300003  310870200
2021-07-09  227.236664  228.000000  206.820007  218.983337  248970900
2021-07-16  220.733337  231.093338  212.626663  214.740005  315344700
2021-07-23  209.963333  221.619995  207.096664  214.460007  241344300
2021-07-30  216.990005  232.509995  209.080002  229.066666  402622500
2021-08-06  233.333328  242.313339  232.543335  233.033340  302343900
2021-08-13  236.723328  243.300003  233.133331  239.056671  216416400
2021-08-20  235.023331  236.500000  216.279999  226.753326  287710500
2021-08-27  228.479996  238.990005  226.916672  237.306671  219125100
2021-09-03  238.240005  247.330002  237.576660  244.523331  242061900
2021-09-10  246.666672  254.816666  244.839996  245.423340  204284100
2021-09-17  246.736664  253.679993  236.283340  253.163330  296888100
2021-09-24  244.853333  258.266663  239.539993  258.130005  268605600
2021-10-01  257.706665  266.333344  254.529999  258.406677  328147200
2021-10-08  265.500000  268.989990  257.739990  261.829987  298449300
2021-10-15  262.549988  281.070007  261.833344  281.010010  244536600
2021-10-22  283.929993  303.333344  283.823334  303.226654  329948100
2021-10-29  316.843323  371.736664  314.733337  371.333344  662775600
2021-11-05  381.666656  414.496674  372.886658  407.363342  541323600
2021-11-12  383.263336  399.000000  329.103333  344.473328  549971700
2021-11-19  339.209991  379.573334  326.200012  379.019989  405913800
2021-11-26  387.443329  400.649994  354.000000  360.640015  310455900
2021-12-03  366.996674  390.946655  333.403320  338.323334  373556700
2021-12-10  333.836670  357.459991  316.833344  339.010010  298756800
2021-12-17  333.696655  335.000000  303.013336  310.856659  407779800
2021-12-24  303.566681  357.660004  295.373322  355.666656  314345400
2021-12-31  357.890015  373.000000  351.049988  352.260010  275398500

In [12]:
df_monthly=df.resample('M').agg({'Open':'first',
                                'High':'max',
                                'Low':'min',
                                'Close':'last',
                                'Volume':'sum'})
df_monthly

                  Open        High         Low       Close      Volume
Date
2021-01-31  239.820007  300.133331  239.063339  264.510010  2117084400
2021-02-28  271.429993  293.500000  206.333328  225.166672  1568573700
2021-03-31  230.036667  240.369995  179.830002  222.643326  2827357200
2021-04-30  229.456665  260.263336  219.806671  236.479996  2035619100
2021-05-31  234.600006  235.333328  182.326660  208.406662  1875527400
2021-06-30  209.266663  232.539993  190.406662  226.566666  1559765700
2021-07-31  227.973328  233.333328  206.820007  229.066666  1345349400
2021-08-31  233.333328  246.796661  216.279999  245.240005  1143974700
2021-09-30  244.693329  266.333344  236.283340  258.493347  1170513900
2021-10-31  259.466675  371.736664  254.529999  371.333344  1586803800
2021-11-30  381.666656  414.496674  326.200012  381.586670  1947334500
2021-12-31  386.899994  390.946655  295.373322  352.260010  1530167700

In [13]:
df_monthly=df.resample('BM').agg({'Open':'first',
                                'High':'max',
                                'Low':'min',
                                'Close':'last',
                                'Volume':'sum'})
df_monthly
# only business day

                  Open        High         Low       Close      Volume
Date
2021-01-29  239.820007  300.133331  239.063339  264.510010  2117084400
2021-02-26  271.429993  293.500000  206.333328  225.166672  1568573700
2021-03-31  230.036667  240.369995  179.830002  222.643326  2827357200
2021-04-30  229.456665  260.263336  219.806671  236.479996  2035619100
2021-05-31  234.600006  235.333328  182.326660  208.406662  1875527400
2021-06-30  209.266663  232.539993  190.406662  226.566666  1559765700
2021-07-30  227.973328  233.333328  206.820007  229.066666  1345349400
2021-08-31  233.333328  246.796661  216.279999  245.240005  1143974700
2021-09-30  244.693329  266.333344  236.283340  258.493347  1170513900
2021-10-29  259.466675  371.736664  254.529999  371.333344  1586803800
2021-11-30  381.666656  414.496674  326.200012  381.586670  1947334500
2021-12-31  386.899994  390.946655  295.373322  352.260010  1530167700

In [ ]:
#learn more at frequency string

In [14]:
df.resample('D').last()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,243.256668,145914600.0
2021-01-05,241.220001,246.946671,239.733337,245.036667,245.036667,96735600.0
2021-01-06,252.830002,258.000000,249.699997,251.993332,251.993332,134100000.0
2021-01-07,259.209991,272.329987,258.399994,272.013336,272.013336,154496700.0
2021-01-08,285.333344,294.829987,279.463318,293.339996,293.339996,225166500.0
...,...,...,...,...,...,...
2021-12-27,357.890015,372.333344,356.906677,364.646667,364.646667,71145900.0
2021-12-28,369.829987,373.000000,359.473328,362.823334,362.823334,60324000.0
2021-12-29,366.213318,368.000000,354.713318,362.063324,362.063324,56154000.0
2021-12-30,353.776672,365.183319,351.049988,356.779999,356.779999,47040900.0
2021-12-31,357.813324,360.666656,351.529999,352.260010,352.260010,40733700.0

In [16]:
df_everyday = df.resample('D').last()
df_everyday .fillna(method='ffill',inplace=True)
df_everyday

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,243.256668,145914600.0
2021-01-05,241.220001,246.946671,239.733337,245.036667,245.036667,96735600.0
2021-01-06,252.830002,258.000000,249.699997,251.993332,251.993332,134100000.0
2021-01-07,259.209991,272.329987,258.399994,272.013336,272.013336,154496700.0
2021-01-08,285.333344,294.829987,279.463318,293.339996,293.339996,225166500.0
...,...,...,...,...,...,...
2021-12-27,357.890015,372.333344,356.906677,364.646667,364.646667,71145900.0
2021-12-28,369.829987,373.000000,359.473328,362.823334,362.823334,60324000.0
2021-12-29,366.213318,368.000000,354.713318,362.063324,362.063324,56154000.0
2021-12-30,353.776672,365.183319,351.049988,356.779999,356.779999,47040900.0
2021-12-31,357.813324,360.666656,351.529999,352.260010,352.260010,40733700.0

In [18]:
df_businessday = df_everyday.resample('B').last()
df_businessday

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,243.256668,145914600.0
2021-01-05,241.220001,246.946671,239.733337,245.036667,245.036667,96735600.0
2021-01-06,252.830002,258.000000,249.699997,251.993332,251.993332,134100000.0
2021-01-07,259.209991,272.329987,258.399994,272.013336,272.013336,154496700.0
2021-01-08,285.333344,294.829987,279.463318,293.339996,293.339996,225166500.0
...,...,...,...,...,...,...
2021-12-27,357.890015,372.333344,356.906677,364.646667,364.646667,71145900.0
2021-12-28,369.829987,373.000000,359.473328,362.823334,362.823334,60324000.0
2021-12-29,366.213318,368.000000,354.713318,362.063324,362.063324,56154000.0
2021-12-30,353.776672,365.183319,351.049988,356.779999,356.779999,47040900.0
2021-12-31,357.813324,360.666656,351.529999,352.260010,352.260010,40733700.0

In [ ]:
# we should delete null data cause if use in machinelearning will not good