In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = yf.download('BBL.BK KBANK.BK SCB.BK BAY.BK TTB.BK KKP.BK TISCO.BK SAWAD.BK MTC.BK TIDLOR.BK AMANAH.BK AEONTS.BK ASK.BK CHAYO.BK JMT.BK KTC.BK MICRO.BK MTC.BK NCAP.BK S11.BK SAK.BK THANI.BK Tk.BK'
                  ,start='2018-01-01',end='2022-10-14',period='1d')

[*********************100%***********************]  22 of 22 completed

In [5]:
df=data['Adj Close']

In [7]:
df

,AEONTS.BK,AMANAH.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,...,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,SCB.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-03,91.102783,1.300324,17.726862,34.921165,173.468857,NaN,13.089821,207.782562,54.755272,16.831442,...,NaN,5.907045,NaN,51.122284,NaN,4.233280,NaN,61.536510,12.529217,2.345252
2018-01-04,91.102783,1.323272,17.875828,34.266399,173.468857,NaN,12.983397,212.166138,55.618923,16.512144,...,NaN,5.943964,NaN,52.648323,NaN,4.193344,NaN,62.052185,12.844417,2.345252
2018-01-05,91.542892,1.330920,17.801348,39.941090,174.315063,NaN,12.344871,211.289429,55.791664,15.599874,...,NaN,5.907045,NaN,51.313042,NaN,4.073534,NaN,62.739735,12.608018,2.314794
2018-01-08,92.423103,1.330920,17.726862,41.032375,175.161224,NaN,12.664133,211.289429,56.309841,16.101620,...,NaN,5.907045,NaN,50.550022,NaN,3.993660,NaN,64.114853,12.529217,2.299565
2018-01-09,105.626419,1.307973,17.577900,40.159348,176.007431,NaN,12.557713,206.029099,56.482582,16.056007,...,NaN,5.980883,NaN,48.833229,NaN,3.953724,NaN,64.458633,12.923218,2.314794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06,164.830475,4.080000,32.000000,31.250000,138.000000,9.022879,63.750000,142.500000,69.250000,57.250000,...,3.44,4.839593,6.85,43.000000,103.478264,4.120000,27.250000,94.500000,9.300000,1.220000
2022-10-07,165.322495,4.000000,31.250000,31.250000,138.000000,8.779016,62.000000,143.000000,68.750000,56.750000,...,3.32,4.859187,6.75,41.750000,103.478264,4.080000,26.250000,94.000000,9.400000,1.220000
2022-10-10,162.862335,3.920000,29.500000,31.500000,137.000000,8.096204,59.000000,142.000000,68.000000,55.000000,...,3.22,4.839593,6.70,40.250000,102.985504,3.980000,24.500000,93.000000,9.250000,1.210000
2022-10-11,163.354370,3.940000,30.750000,31.250000,136.000000,7.998660,61.250000,143.500000,68.500000,55.250000,...,3.20,4.839593,6.65,40.000000,102.000000,4.020000,24.700001,92.750000,9.150000,1.200000
2022-10-12,160.894211,3.940000,32.000000,31.250000,137.500000,7.949887,64.250000,144.000000,68.500000,55.250000,...,3.26,4.839593,6.75,41.000000,103.000000,4.100000,24.900000,93.750000,9.050000,1.210000

In [15]:
df['CHAYO.BK'].notnull()

Date
2018-01-03    False
2018-01-04    False
2018-01-05    False
2018-01-08    False
2018-01-09    False
              ...
2022-10-06     True
2022-10-07     True
2022-10-10     True
2022-10-11     True
2022-10-12     True
Name: CHAYO.BK, Length: 1162, dtype: bool

In [14]:
df.loc[df['CHAYO.BK'].notnull()]
# for research we will use Adj Close

,AEONTS.BK,AMANAH.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,...,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,SCB.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,,
2018-03-22,158.879730,1.210045,17.494516,37.103745,172.622650,1.598439,13.621926,192.878326,52.509789,24.722607,...,NaN,5.685529,NaN,47.688702,NaN,3.555907,NaN,62.395958,11.820017,2.132047
2018-03-23,155.358841,1.233167,17.336908,36.667233,170.930313,1.931448,13.834769,193.755035,51.818871,25.361195,...,NaN,5.611692,NaN,46.734924,NaN,3.505823,NaN,61.880287,11.493946,2.116818
2018-03-26,160.200058,1.225460,17.258104,36.448971,169.237900,1.953648,13.621926,194.631760,51.818871,26.729605,...,NaN,5.537854,NaN,46.544174,NaN,3.455740,NaN,62.052185,11.575464,2.132047
2018-03-27,165.041260,1.240874,17.258104,36.448971,170.930313,1.820444,14.260454,194.631760,51.818871,27.641878,...,NaN,5.648611,NaN,48.070213,NaN,3.781280,NaN,62.052185,11.493946,2.101589
2018-03-28,164.161026,1.225460,17.258104,35.794193,170.930313,1.798244,13.834769,186.741287,50.782497,27.915562,...,NaN,5.611692,NaN,47.116432,NaN,3.856405,NaN,61.364620,11.330912,2.086360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06,164.830475,4.080000,32.000000,31.250000,138.000000,9.022879,63.750000,142.500000,69.250000,57.250000,...,3.44,4.839593,6.85,43.000000,103.478264,4.120000,27.250000,94.500000,9.300000,1.220000
2022-10-07,165.322495,4.000000,31.250000,31.250000,138.000000,8.779016,62.000000,143.000000,68.750000,56.750000,...,3.32,4.859187,6.75,41.750000,103.478264,4.080000,26.250000,94.000000,9.400000,1.220000
2022-10-10,162.862335,3.920000,29.500000,31.500000,137.000000,8.096204,59.000000,142.000000,68.000000,55.000000,...,3.22,4.839593,6.70,40.250000,102.985504,3.980000,24.500000,93.000000,9.250000,1.210000
2022-10-11,163.354370,3.940000,30.750000,31.250000,136.000000,7.998660,61.250000,143.500000,68.500000,55.250000,...,3.20,4.839593,6.65,40.000000,102.000000,4.020000,24.700001,92.750000,9.150000,1.200000
2022-10-12,160.894211,3.940000,32.000000,31.250000,137.500000,7.949887,64.250000,144.000000,68.500000,55.250000,...,3.26,4.839593,6.75,41.000000,103.000000,4.100000,24.900000,93.750000,9.050000,1.210000

In [17]:
df.loc[~df.isnull().sum(1).astype(bool)].iloc[0]

AEONTS.BK    186.226227
AMANAH.BK      6.150000
ASK.BK        45.000000
BAY.BK        34.115036
BBL.BK       133.027374
CHAYO.BK      12.388167
JMT.BK        80.720932
KBANK.BK     156.978470
KKP.BK        67.920967
KTC.BK        59.250000
MICRO.BK       7.270288
MTC.BK        49.602150
NCAP.BK        8.809120
S11.BK         6.025000
SAK.BK         9.377556
SAWAD.BK      52.916512
SCB.BK        80.318840
THANI.BK       4.380000
TIDLOR.BK     34.324184
TISCO.BK      93.278137
TK.BK         11.700000
TTB.BK         1.271492
Name: 2022-04-20 00:00:00, dtype: float64

# we will see data not have null at 2022-04-20 that cannot use for predict

~ is tilde is meaning invert in binary number

In [18]:
df.loc[~df.isnull().sum(1).astype(bool)]
# reutrn without null

,AEONTS.BK,AMANAH.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,...,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,SCB.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-20,186.226227,6.15,45.00,34.115036,133.027374,12.388167,80.720932,156.978470,67.920967,59.25,...,8.809120,6.025000,9.377556,52.916512,80.318840,4.38,34.324184,93.278137,11.70,1.271492
2022-04-27,182.346512,5.55,43.50,33.383999,129.565689,12.583258,85.440002,150.998337,70.524208,57.00,...,8.566667,5.976017,8.950000,50.500233,112.347824,4.38,35.476006,91.885933,10.80,1.269524
2022-04-28,183.316437,5.75,43.00,33.871357,129.565689,12.680802,85.191628,152.991714,70.475441,57.25,...,8.350000,6.025000,8.950000,50.983486,110.869568,4.42,35.750000,92.349998,11.00,1.269524
2022-04-29,186.711197,5.65,43.50,33.383999,129.071167,12.778346,86.433487,152.493378,70.475441,57.75,...,8.150000,6.025000,9.000000,51.950001,113.333336,4.38,36.750000,90.750000,10.90,1.279365
2022-05-03,184.771317,5.30,42.00,33.383999,128.576645,12.388167,84.943253,150.500000,71.207016,57.50,...,7.700000,5.976017,8.550000,52.500000,115.797104,4.32,36.000000,91.500000,10.20,1.269524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06,164.830475,4.08,32.00,31.250000,138.000000,9.022879,63.750000,142.500000,69.250000,57.25,...,3.440000,4.839593,6.850000,43.000000,103.478264,4.12,27.250000,94.500000,9.30,1.220000
2022-10-07,165.322495,4.00,31.25,31.250000,138.000000,8.779016,62.000000,143.000000,68.750000,56.75,...,3.320000,4.859187,6.750000,41.750000,103.478264,4.08,26.250000,94.000000,9.40,1.220000
2022-10-10,162.862335,3.92,29.50,31.500000,137.000000,8.096204,59.000000,142.000000,68.000000,55.00,...,3.220000,4.839593,6.700000,40.250000,102.985504,3.98,24.500000,93.000000,9.25,1.210000
2022-10-11,163.354370,3.94,30.75,31.250000,136.000000,7.998660,61.250000,143.500000,68.500000,55.25,...,3.200000,4.839593,6.650000,40.000000,102.000000,4.02,24.700001,92.750000,9.15,1.200000
2022-10-12,160.894211,3.94,32.00,31.250000,137.500000,7.949887,64.250000,144.000000,68.500000,55.25,...,3.260000,4.839593,6.750000,41.000000,103.000000,4.10,24.900000,93.750000,9.05,1.210000

In [20]:
df

,AEONTS.BK,AMANAH.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,...,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,SCB.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-03,91.102783,1.300324,17.726862,34.921165,173.468857,NaN,13.089821,207.782562,54.755272,16.831442,...,NaN,5.907045,NaN,51.122284,NaN,4.233280,NaN,61.536510,12.529217,2.345252
2018-01-04,91.102783,1.323272,17.875828,34.266399,173.468857,NaN,12.983397,212.166138,55.618923,16.512144,...,NaN,5.943964,NaN,52.648323,NaN,4.193344,NaN,62.052185,12.844417,2.345252
2018-01-05,91.542892,1.330920,17.801348,39.941090,174.315063,NaN,12.344871,211.289429,55.791664,15.599874,...,NaN,5.907045,NaN,51.313042,NaN,4.073534,NaN,62.739735,12.608018,2.314794
2018-01-08,92.423103,1.330920,17.726862,41.032375,175.161224,NaN,12.664133,211.289429,56.309841,16.101620,...,NaN,5.907045,NaN,50.550022,NaN,3.993660,NaN,64.114853,12.529217,2.299565
2018-01-09,105.626419,1.307973,17.577900,40.159348,176.007431,NaN,12.557713,206.029099,56.482582,16.056007,...,NaN,5.980883,NaN,48.833229,NaN,3.953724,NaN,64.458633,12.923218,2.314794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06,164.830475,4.080000,32.000000,31.250000,138.000000,9.022879,63.750000,142.500000,69.250000,57.250000,...,3.44,4.839593,6.85,43.000000,103.478264,4.120000,27.250000,94.500000,9.300000,1.220000
2022-10-07,165.322495,4.000000,31.250000,31.250000,138.000000,8.779016,62.000000,143.000000,68.750000,56.750000,...,3.32,4.859187,6.75,41.750000,103.478264,4.080000,26.250000,94.000000,9.400000,1.220000
2022-10-10,162.862335,3.920000,29.500000,31.500000,137.000000,8.096204,59.000000,142.000000,68.000000,55.000000,...,3.22,4.839593,6.70,40.250000,102.985504,3.980000,24.500000,93.000000,9.250000,1.210000
2022-10-11,163.354370,3.940000,30.750000,31.250000,136.000000,7.998660,61.250000,143.500000,68.500000,55.250000,...,3.20,4.839593,6.65,40.000000,102.000000,4.020000,24.700001,92.750000,9.150000,1.200000
2022-10-12,160.894211,3.940000,32.000000,31.250000,137.500000,7.949887,64.250000,144.000000,68.500000,55.250000,...,3.26,4.839593,6.75,41.000000,103.000000,4.100000,24.900000,93.750000,9.050000,1.210000

In [19]:
df.isnull()

,AEONTS.BK,AMANAH.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,...,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,SCB.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-03,False,False,False,False,False,True,False,False,False,False,...,True,False,True,False,True,False,True,False,False,False
2018-01-04,False,False,False,False,False,True,False,False,False,False,...,True,False,True,False,True,False,True,False,False,False
2018-01-05,False,False,False,False,False,True,False,False,False,False,...,True,False,True,False,True,False,True,False,False,False
2018-01-08,False,False,False,False,False,True,False,False,False,False,...,True,False,True,False,True,False,True,False,False,False
2018-01-09,False,False,False,False,False,True,False,False,False,False,...,True,False,True,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2022-10-07,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2022-10-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2022-10-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2022-10-12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
~df.isnull()

,AEONTS.BK,AMANAH.BK,ASK.BK,BAY.BK,BBL.BK,CHAYO.BK,JMT.BK,KBANK.BK,KKP.BK,KTC.BK,...,NCAP.BK,S11.BK,SAK.BK,SAWAD.BK,SCB.BK,THANI.BK,TIDLOR.BK,TISCO.BK,TK.BK,TTB.BK
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-03,True,True,True,True,True,False,True,True,True,True,...,False,True,False,True,False,True,False,True,True,True
2018-01-04,True,True,True,True,True,False,True,True,True,True,...,False,True,False,True,False,True,False,True,True,True
2018-01-05,True,True,True,True,True,False,True,True,True,True,...,False,True,False,True,False,True,False,True,True,True
2018-01-08,True,True,True,True,True,False,True,True,True,True,...,False,True,False,True,False,True,False,True,True,True
2018-01-09,True,True,True,True,True,False,True,True,True,True,...,False,True,False,True,False,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2022-10-07,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2022-10-10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2022-10-11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2022-10-12,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [22]:
df.isnull().sum(1)

Date
2018-01-03    6
2018-01-04    6
2018-01-05    6
2018-01-08    6
2018-01-09    6
             ..
2022-10-06    0
2022-10-07    0
2022-10-10    0
2022-10-11    0
2022-10-12    0
Length: 1162, dtype: int64

In [23]:
~df.isnull().sum(1)
# bitwise problem

Date
2018-01-03   -7
2018-01-04   -7
2018-01-05   -7
2018-01-08   -7
2018-01-09   -7
             ..
2022-10-06   -1
2022-10-07   -1
2022-10-10   -1
2022-10-11   -1
2022-10-12   -1
Length: 1162, dtype: int64

In [24]:
~1
#bit wise deep drive to ascii code

-2

In [25]:
-1

-1

In [26]:
~2

-3

In [28]:
~df.isnull().sum(axis=0).astype(bool)
# cannot use sum axis = 0

AEONTS.BK     True
AMANAH.BK     True
ASK.BK        True
BAY.BK        True
BBL.BK        True
CHAYO.BK     False
JMT.BK        True
KBANK.BK      True
KKP.BK        True
KTC.BK        True
MICRO.BK     False
MTC.BK        True
NCAP.BK      False
S11.BK        True
SAK.BK       False
SAWAD.BK      True
SCB.BK       False
THANI.BK      True
TIDLOR.BK    False
TISCO.BK      True
TK.BK         True
TTB.BK        True
dtype: bool

In [27]:
~df.isnull().sum(axis=1).astype(bool).tail(20)
# this is result can use

Date
2022-09-15    True
2022-09-16    True
2022-09-19    True
2022-09-20    True
2022-09-21    True
2022-09-22    True
2022-09-23    True
2022-09-26    True
2022-09-27    True
2022-09-28    True
2022-09-29    True
2022-09-30    True
2022-10-03    True
2022-10-04    True
2022-10-05    True
2022-10-06    True
2022-10-07    True
2022-10-10    True
2022-10-11    True
2022-10-12    True
dtype: bool

# this section command for search date have data

In [31]:
df.stack()

Date
2018-01-03  AEONTS.BK     91.102783
            AMANAH.BK      1.300324
            ASK.BK        17.726862
            BAY.BK        34.921165
            BBL.BK       173.468857
                            ...
2022-10-12  THANI.BK       4.100000
            TIDLOR.BK     24.900000
            TISCO.BK      93.750000
            TK.BK          9.050000
            TTB.BK         1.210000
Length: 21561, dtype: float64

In [ ]:
df.reset_index()

In [32]:
df.stack().groupby(level=0).head(1)
# level 0 is date

Date
2018-01-03  AEONTS.BK     91.102783
2018-01-04  AEONTS.BK     91.102783
2018-01-05  AEONTS.BK     91.542892
2018-01-08  AEONTS.BK     92.423103
2018-01-09  AEONTS.BK    105.626419
                            ...
2022-10-06  AEONTS.BK    164.830475
2022-10-07  AEONTS.BK    165.322495
2022-10-10  AEONTS.BK    162.862335
2022-10-11  AEONTS.BK    163.354370
2022-10-12  AEONTS.BK    160.894211
Length: 1162, dtype: float64

In [30]:
df.stack().groupby(level=1).head(1)
# this command will return the first date have data

# groupby must use with something like this case use with head()

Date
2018-01-03  AEONTS.BK     91.102783
            AMANAH.BK      1.300324
            ASK.BK        17.726862
            BAY.BK        34.921165
            BBL.BK       173.468857
            JMT.BK        13.089821
            KBANK.BK     207.782562
            KKP.BK        54.755272
            KTC.BK        16.831442
            MTC.BK        38.350212
            S11.BK         5.907045
            SAWAD.BK      51.122284
            THANI.BK       4.233280
            TISCO.BK      61.536510
            TK.BK         12.529217
            TTB.BK         2.345252
2018-03-22  CHAYO.BK       1.598439
2020-10-01  MICRO.BK       5.326630
2020-11-09  NCAP.BK        3.060000
2020-12-08  SAK.BK         8.019594
2021-05-10  TIDLOR.BK     42.156548
2022-04-20  SCB.BK        80.318840
dtype: float64