In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (0.1.87)
Requirement already satisfied: lxml>=4.5.1 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: six>=1.5 in /Users/admin/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)

In [2]:
import pandas_ta as ta

In [3]:
import pandas as pd

In [4]:
import yfinance as yf

In [6]:
tickers = "PTT.BK KBANK.BK EA.BK COM7.BK RCL.BK"
data = yf.download(tickers=tickers,period ='1y',interval='1d',group_by='column')

[*********************100%***********************]  5 of 5 completed

In [7]:
data

            Adj Close                                                Close  \
              COM7.BK      EA.BK    KBANK.BK     PTT.BK     RCL.BK COM7.BK
Date
2022-01-10  38.940365  95.662170  140.005936  36.390663  44.756184  40.875
2022-01-11  38.940365  95.662170  140.495453  36.863266  44.964355  40.875
2022-01-12  37.987698  97.156891  140.985001  37.099571  44.131683  39.875
2022-01-13  37.987698  95.911293  141.964050  37.099571  44.339851  39.875
2022-01-14  37.749527  93.170967  141.964050  36.626961  42.049999  39.625
...               ...        ...         ...        ...        ...     ...
2023-01-03  35.000000  96.000000  149.000000  32.750000  30.500000  35.000
2023-01-04  34.500000  94.500000  151.500000  32.000000  29.250000  34.500
2023-01-05  35.000000  92.500000  151.000000  32.250000  29.500000  35.000
2023-01-06  34.500000  92.250000  153.000000  32.500000  30.500000  34.500
2023-01-09  35.500000  90.500000  154.500000  33.000000  31.500000  35.500

                                          ...    Open                         \
            EA.BK KBANK.BK PTT.BK RCL.BK  ... COM7.BK  EA.BK KBANK.BK PTT.BK
Date                                      ...
2022-01-10  96.00    143.0  38.50  53.75  ...  41.000  97.00    143.0  38.75
2022-01-11  96.00    143.5  39.00  54.00  ...  40.875  95.50    142.5  38.25
2022-01-12  97.50    144.0  39.25  53.00  ...  41.000  96.75    144.5  39.25
2022-01-13  96.25    145.0  39.25  53.25  ...  39.750  97.25    144.0  39.50
2022-01-14  93.50    145.0  38.75  50.50  ...  39.750  96.50    144.5  39.00
...           ...      ...    ...    ...  ...     ...    ...      ...    ...
2023-01-03  96.00    149.0  32.75  30.50  ...  34.250  97.25    148.0  33.00
2023-01-04  94.50    151.5  32.00  29.25  ...  34.500  96.25    149.0  32.50
2023-01-05  92.50    151.0  32.25  29.50  ...  34.750  94.25    152.5  32.00
2023-01-06  92.25    153.0  32.50  30.50  ...  34.750  93.00    152.0  32.25
2023-01-09  90.50    154.5  33.00  31.50  ...  34.500  93.25    154.5  32.75

                     Volume
           RCL.BK   COM7.BK     EA.BK  KBANK.BK    PTT.BK    RCL.BK
Date
2022-01-10  52.75   5061400  15569700  24845300  34789500  19088500
2022-01-11  53.75   8352600  12653100  12020300  35007100   6817200
2022-01-12  53.50  17821600  16026600  14343200  36693300   6846100
2022-01-13  53.25  10742400  12940600  19841600  41109600   4207300
2022-01-14  53.25   7766200  21024800  12568200  34315800  11700500
...           ...       ...       ...       ...       ...       ...
2023-01-03  31.00  16611800   4140600  12819900  46133500   2484200
2023-01-04  30.00  11822300   9553500  23013800  54885800   6753200
2023-01-05  29.25  13950400  11164000  24460700  32895800   3638900
2023-01-06  29.75  14533000   8336900  12682900  53655400   4219600
2023-01-09  30.75  18362800  19198900  11927300  48532500   6097100

[242 rows x 30 columns]

In [8]:
data.swaplevel(0,axis=1)

,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,...,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK,COM7.BK,EA.BK,KBANK.BK,PTT.BK,RCL.BK
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-10,38.940365,95.662170,140.005936,36.390663,44.756184,40.875,96.00,143.0,38.50,53.75,...,41.000,97.00,143.0,38.75,52.75,5061400,15569700,24845300,34789500,19088500
2022-01-11,38.940365,95.662170,140.495453,36.863266,44.964355,40.875,96.00,143.5,39.00,54.00,...,40.875,95.50,142.5,38.25,53.75,8352600,12653100,12020300,35007100,6817200
2022-01-12,37.987698,97.156891,140.985001,37.099571,44.131683,39.875,97.50,144.0,39.25,53.00,...,41.000,96.75,144.5,39.25,53.50,17821600,16026600,14343200,36693300,6846100
2022-01-13,37.987698,95.911293,141.964050,37.099571,44.339851,39.875,96.25,145.0,39.25,53.25,...,39.750,97.25,144.0,39.50,53.25,10742400,12940600,19841600,41109600,4207300
2022-01-14,37.749527,93.170967,141.964050,36.626961,42.049999,39.625,93.50,145.0,38.75,50.50,...,39.750,96.50,144.5,39.00,53.25,7766200,21024800,12568200,34315800,11700500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-03,35.000000,96.000000,149.000000,32.750000,30.500000,35.000,96.00,149.0,32.75,30.50,...,34.250,97.25,148.0,33.00,31.00,16611800,4140600,12819900,46133500,2484200
2023-01-04,34.500000,94.500000,151.500000,32.000000,29.250000,34.500,94.50,151.5,32.00,29.25,...,34.500,96.25,149.0,32.50,30.00,11822300,9553500,23013800,54885800,6753200
2023-01-05,35.000000,92.500000,151.000000,32.250000,29.500000,35.000,92.50,151.0,32.25,29.50,...,34.750,94.25,152.5,32.00,29.25,13950400,11164000,24460700,32895800,3638900
2023-01-06,34.500000,92.250000,153.000000,32.500000,30.500000,34.500,92.25,153.0,32.50,30.50,...,34.750,93.00,152.0,32.25,29.75,14533000,8336900,12682900,53655400,4219600
2023-01-09,35.500000,90.500000,154.500000,33.000000,31.500000,35.500,90.50,154.5,33.00,31.50,...,34.500,93.25,154.5,32.75,30.75,18362800,19198900,11927300,48532500,6097100

In [9]:
data.Close

            COM7.BK  EA.BK  KBANK.BK  PTT.BK  RCL.BK
Date
2022-01-10   40.875  96.00     143.0   38.50   53.75
2022-01-11   40.875  96.00     143.5   39.00   54.00
2022-01-12   39.875  97.50     144.0   39.25   53.00
2022-01-13   39.875  96.25     145.0   39.25   53.25
2022-01-14   39.625  93.50     145.0   38.75   50.50
...             ...    ...       ...     ...     ...
2023-01-03   35.000  96.00     149.0   32.75   30.50
2023-01-04   34.500  94.50     151.5   32.00   29.25
2023-01-05   35.000  92.50     151.0   32.25   29.50
2023-01-06   34.500  92.25     153.0   32.50   30.50
2023-01-09   35.500  90.50     154.5   33.00   31.50

[242 rows x 5 columns]

In [10]:
data.Close.ta.ema(10)

[X] Ooops!!! It's True, the series 'close' was not found in COM7.BK, EA.BK, KBANK.BK, PTT.BK, RCL.BK

            COM7.BK  EA.BK  KBANK.BK  PTT.BK  RCL.BK
Date
2022-01-10   40.875  96.00     143.0   38.50   53.75
2022-01-11   40.875  96.00     143.5   39.00   54.00
2022-01-12   39.875  97.50     144.0   39.25   53.00
2022-01-13   39.875  96.25     145.0   39.25   53.25
2022-01-14   39.625  93.50     145.0   38.75   50.50
...             ...    ...       ...     ...     ...
2023-01-03   35.000  96.00     149.0   32.75   30.50
2023-01-04   34.500  94.50     151.5   32.00   29.25
2023-01-05   35.000  92.50     151.0   32.25   29.50
2023-01-06   34.500  92.25     153.0   32.50   30.50
2023-01-09   35.500  90.50     154.5   33.00   31.50

[242 rows x 5 columns]

In [11]:
test= data.swaplevel(0,axis=1)
test['KBANK.BK'].ta.rsi()

Date
2022-01-10          NaN
2022-01-11          NaN
2022-01-12          NaN
2022-01-13          NaN
2022-01-14          NaN
                ...
2023-01-03    67.854299
2023-01-04    73.646230
2023-01-05    70.894976
2023-01-06    74.929464
2023-01-09    77.453761
Name: RSI_14, Length: 242, dtype: float64

In [12]:
test['KBANK.BK']

             Adj Close  Close   High    Low   Open    Volume
Date
2022-01-10  140.005936  143.0  144.0  142.0  143.0  24845300
2022-01-11  140.495453  143.5  143.5  142.0  142.5  12020300
2022-01-12  140.985001  144.0  144.5  143.0  144.5  14343200
2022-01-13  141.964050  145.0  145.5  143.5  144.0  19841600
2022-01-14  141.964050  145.0  145.5  143.5  144.5  12568200
...                ...    ...    ...    ...    ...       ...
2023-01-03  149.000000  149.0  149.5  147.0  148.0  12819900
2023-01-04  151.500000  151.5  151.5  149.0  149.0  23013800
2023-01-05  151.000000  151.0  154.0  150.5  152.5  24460700
2023-01-06  153.000000  153.0  154.0  151.5  152.0  12682900
2023-01-09  154.500000  154.5  155.0  153.0  154.5  11927300

[242 rows x 6 columns]

In [14]:
data.melt()
# record for database

     variable_0 variable_1         value
0     Adj Close    COM7.BK  3.894036e+01
1     Adj Close    COM7.BK  3.894036e+01
2     Adj Close    COM7.BK  3.798770e+01
3     Adj Close    COM7.BK  3.798770e+01
4     Adj Close    COM7.BK  3.774953e+01
...         ...        ...           ...
7255     Volume     RCL.BK  2.484200e+06
7256     Volume     RCL.BK  6.753200e+06
7257     Volume     RCL.BK  3.638900e+06
7258     Volume     RCL.BK  4.219600e+06
7259     Volume     RCL.BK  6.097100e+06

[7260 rows x 3 columns]

In [15]:
data.stack()
# index is drop to level 1

                      Adj Close    Close    High     Low    Open    Volume
Date
2022-01-10 COM7.BK    38.940365   40.875   41.00   40.50   41.00   5061400
           EA.BK      95.662170   96.000   97.25   95.75   97.00  15569700
           KBANK.BK  140.005936  143.000  144.00  142.00  143.00  24845300
           PTT.BK     36.390663   38.500   38.75   38.00   38.75  34789500
           RCL.BK     44.756184   53.750   54.25   52.00   52.75  19088500
...                         ...      ...     ...     ...     ...       ...
2023-01-09 COM7.BK    35.500000   35.500   36.00   34.50   34.50  18362800
           EA.BK      90.500000   90.500   93.25   90.50   93.25  19198900
           KBANK.BK  154.500000  154.500  155.00  153.00  154.50  11927300
           PTT.BK     33.000000   33.000   33.25   32.75   32.75  48532500
           RCL.BK     31.500000   31.500   31.50   30.50   30.75   6097100

[1210 rows x 6 columns]

In [17]:
data.stack().unstack()

            Adj Close                                                Close  \
              COM7.BK      EA.BK    KBANK.BK     PTT.BK     RCL.BK COM7.BK
Date
2022-01-10  38.940365  95.662170  140.005936  36.390663  44.756184  40.875
2022-01-11  38.940365  95.662170  140.495453  36.863266  44.964355  40.875
2022-01-12  37.987698  97.156891  140.985001  37.099571  44.131683  39.875
2022-01-13  37.987698  95.911293  141.964050  37.099571  44.339851  39.875
2022-01-14  37.749527  93.170967  141.964050  36.626961  42.049999  39.625
...               ...        ...         ...        ...        ...     ...
2023-01-03  35.000000  96.000000  149.000000  32.750000  30.500000  35.000
2023-01-04  34.500000  94.500000  151.500000  32.000000  29.250000  34.500
2023-01-05  35.000000  92.500000  151.000000  32.250000  29.500000  35.000
2023-01-06  34.500000  92.250000  153.000000  32.500000  30.500000  34.500
2023-01-09  35.500000  90.500000  154.500000  33.000000  31.500000  35.500

                                          ...    Open                         \
            EA.BK KBANK.BK PTT.BK RCL.BK  ... COM7.BK  EA.BK KBANK.BK PTT.BK
Date                                      ...
2022-01-10  96.00    143.0  38.50  53.75  ...  41.000  97.00    143.0  38.75
2022-01-11  96.00    143.5  39.00  54.00  ...  40.875  95.50    142.5  38.25
2022-01-12  97.50    144.0  39.25  53.00  ...  41.000  96.75    144.5  39.25
2022-01-13  96.25    145.0  39.25  53.25  ...  39.750  97.25    144.0  39.50
2022-01-14  93.50    145.0  38.75  50.50  ...  39.750  96.50    144.5  39.00
...           ...      ...    ...    ...  ...     ...    ...      ...    ...
2023-01-03  96.00    149.0  32.75  30.50  ...  34.250  97.25    148.0  33.00
2023-01-04  94.50    151.5  32.00  29.25  ...  34.500  96.25    149.0  32.50
2023-01-05  92.50    151.0  32.25  29.50  ...  34.750  94.25    152.5  32.00
2023-01-06  92.25    153.0  32.50  30.50  ...  34.750  93.00    152.0  32.25
2023-01-09  90.50    154.5  33.00  31.50  ...  34.500  93.25    154.5  32.75

                     Volume
           RCL.BK   COM7.BK     EA.BK  KBANK.BK    PTT.BK    RCL.BK
Date
2022-01-10  52.75   5061400  15569700  24845300  34789500  19088500
2022-01-11  53.75   8352600  12653100  12020300  35007100   6817200
2022-01-12  53.50  17821600  16026600  14343200  36693300   6846100
2022-01-13  53.25  10742400  12940600  19841600  41109600   4207300
2022-01-14  53.25   7766200  21024800  12568200  34315800  11700500
...           ...       ...       ...       ...       ...       ...
2023-01-03  31.00  16611800   4140600  12819900  46133500   2484200
2023-01-04  30.00  11822300   9553500  23013800  54885800   6753200
2023-01-05  29.25  13950400  11164000  24460700  32895800   3638900
2023-01-06  29.75  14533000   8336900  12682900  53655400   4219600
2023-01-09  30.75  18362800  19198900  11927300  48532500   6097100

[242 rows x 30 columns]

In [18]:
df=data.stack()

In [19]:
df.swaplevel(1,0)

                      Adj Close    Close    High     Low    Open    Volume
         Date
COM7.BK  2022-01-10   38.940365   40.875   41.00   40.50   41.00   5061400
EA.BK    2022-01-10   95.662170   96.000   97.25   95.75   97.00  15569700
KBANK.BK 2022-01-10  140.005936  143.000  144.00  142.00  143.00  24845300
PTT.BK   2022-01-10   36.390663   38.500   38.75   38.00   38.75  34789500
RCL.BK   2022-01-10   44.756184   53.750   54.25   52.00   52.75  19088500
...                         ...      ...     ...     ...     ...       ...
COM7.BK  2023-01-09   35.500000   35.500   36.00   34.50   34.50  18362800
EA.BK    2023-01-09   90.500000   90.500   93.25   90.50   93.25  19198900
KBANK.BK 2023-01-09  154.500000  154.500  155.00  153.00  154.50  11927300
PTT.BK   2023-01-09   33.000000   33.000   33.25   32.75   32.75  48532500
RCL.BK   2023-01-09   31.500000   31.500   31.50   30.50   30.75   6097100

[1210 rows x 6 columns]

In [22]:
df

                      Adj Close    Close    High     Low    Open    Volume
Date
2022-01-10 COM7.BK    38.940365   40.875   41.00   40.50   41.00   5061400
           EA.BK      95.662170   96.000   97.25   95.75   97.00  15569700
           KBANK.BK  140.005936  143.000  144.00  142.00  143.00  24845300
           PTT.BK     36.390663   38.500   38.75   38.00   38.75  34789500
           RCL.BK     44.756184   53.750   54.25   52.00   52.75  19088500
...                         ...      ...     ...     ...     ...       ...
2023-01-09 COM7.BK    35.500000   35.500   36.00   34.50   34.50  18362800
           EA.BK      90.500000   90.500   93.25   90.50   93.25  19198900
           KBANK.BK  154.500000  154.500  155.00  153.00  154.50  11927300
           PTT.BK     33.000000   33.000   33.25   32.75   32.75  48532500
           RCL.BK     31.500000   31.500   31.50   30.50   30.75   6097100

[1210 rows x 6 columns]

In [20]:
df.sort_index(level=1)

                    Adj Close   Close    High     Low    Open    Volume
Date
2022-01-10 COM7.BK  38.940365  40.875  41.000  40.500  41.000   5061400
2022-01-11 COM7.BK  38.940365  40.875  41.000  40.375  40.875   8352600
2022-01-12 COM7.BK  37.987698  39.875  41.125  39.750  41.000  17821600
2022-01-13 COM7.BK  37.987698  39.875  40.125  39.625  39.750  10742400
2022-01-14 COM7.BK  37.749527  39.625  40.250  39.500  39.750   7766200
...                       ...     ...     ...     ...     ...       ...
2023-01-03 RCL.BK   30.500000  30.500  31.250  30.500  31.000   2484200
2023-01-04 RCL.BK   29.250000  29.250  30.000  29.250  30.000   6753200
2023-01-05 RCL.BK   29.500000  29.500  29.750  29.000  29.250   3638900
2023-01-06 RCL.BK   30.500000  30.500  30.750  29.750  29.750   4219600
2023-01-09 RCL.BK   31.500000  31.500  31.500  30.500  30.750   6097100

[1210 rows x 6 columns]

In [21]:
df.sort_index(level=0)

                      Adj Close    Close    High     Low    Open    Volume
Date
2022-01-10 COM7.BK    38.940365   40.875   41.00   40.50   41.00   5061400
           EA.BK      95.662170   96.000   97.25   95.75   97.00  15569700
           KBANK.BK  140.005936  143.000  144.00  142.00  143.00  24845300
           PTT.BK     36.390663   38.500   38.75   38.00   38.75  34789500
           RCL.BK     44.756184   53.750   54.25   52.00   52.75  19088500
...                         ...      ...     ...     ...     ...       ...
2023-01-09 COM7.BK    35.500000   35.500   36.00   34.50   34.50  18362800
           EA.BK      90.500000   90.500   93.25   90.50   93.25  19198900
           KBANK.BK  154.500000  154.500  155.00  153.00  154.50  11927300
           PTT.BK     33.000000   33.000   33.25   32.75   32.75  48532500
           RCL.BK     31.500000   31.500   31.50   30.50   30.75   6097100

[1210 rows x 6 columns]

In [23]:
df2=df.sort_index(level=1)

In [24]:
df2.index

MultiIndex([('2022-01-10', 'COM7.BK'),
            ('2022-01-11', 'COM7.BK'),
            ('2022-01-12', 'COM7.BK'),
            ('2022-01-13', 'COM7.BK'),
            ('2022-01-14', 'COM7.BK'),
            ('2022-01-17', 'COM7.BK'),
            ('2022-01-18', 'COM7.BK'),
            ('2022-01-19', 'COM7.BK'),
            ('2022-01-20', 'COM7.BK'),
            ('2022-01-21', 'COM7.BK'),
            ...
            ('2022-12-26',  'RCL.BK'),
            ('2022-12-27',  'RCL.BK'),
            ('2022-12-28',  'RCL.BK'),
            ('2022-12-29',  'RCL.BK'),
            ('2022-12-30',  'RCL.BK'),
            ('2023-01-03',  'RCL.BK'),
            ('2023-01-04',  'RCL.BK'),
            ('2023-01-05',  'RCL.BK'),
            ('2023-01-06',  'RCL.BK'),
            ('2023-01-09',  'RCL.BK')],
           names=['Date', None], length=1210)

In [25]:
df2.index.names

FrozenList(['Date', None])

In [26]:
df2.index.names = ['Date','Stock']

In [28]:
df2.index.names

FrozenList(['Date', 'Stock'])

In [29]:
df2.iloc[df2.index.get_level_values('Stock')== 'RCL.BK']

                   Adj Close  Close   High    Low   Open    Volume
Date       Stock
2022-01-10 RCL.BK  44.756184  53.75  54.25  52.00  52.75  19088500
2022-01-11 RCL.BK  44.964355  54.00  54.25  53.00  53.75   6817200
2022-01-12 RCL.BK  44.131683  53.00  54.00  52.50  53.50   6846100
2022-01-13 RCL.BK  44.339851  53.25  54.25  53.00  53.25   4207300
2022-01-14 RCL.BK  42.049999  50.50  53.75  50.25  53.25  11700500
...                      ...    ...    ...    ...    ...       ...
2023-01-03 RCL.BK  30.500000  30.50  31.25  30.50  31.00   2484200
2023-01-04 RCL.BK  29.250000  29.25  30.00  29.25  30.00   6753200
2023-01-05 RCL.BK  29.500000  29.50  29.75  29.00  29.25   3638900
2023-01-06 RCL.BK  30.500000  30.50  30.75  29.75  29.75   4219600
2023-01-09 RCL.BK  31.500000  31.50  31.50  30.50  30.75   6097100

[242 rows x 6 columns]

In [30]:
df.ta.ema(10).head(20)

# cannot use cause they will mix price

Date
2022-01-10  COM7.BK           NaN
            EA.BK             NaN
            KBANK.BK          NaN
            PTT.BK            NaN
            RCL.BK            NaN
2022-01-11  COM7.BK           NaN
            EA.BK             NaN
            KBANK.BK          NaN
            PTT.BK            NaN
            RCL.BK      74.550000
2022-01-12  COM7.BK     68.245455
            EA.BK       73.564463
            KBANK.BK    86.370924
            PTT.BK      77.803483
            RCL.BK      73.293759
2022-01-13  COM7.BK     67.217621
            EA.BK       72.496235
            KBANK.BK    85.678738
            PTT.BK      77.237149
            RCL.BK      72.875849
Name: EMA_10, dtype: float64

In [31]:
df2.ta.ema(10).head(20)

# this is after we manipulate data

Date        Stock
2022-01-10  COM7.BK          NaN
2022-01-11  COM7.BK          NaN
2022-01-12  COM7.BK          NaN
2022-01-13  COM7.BK          NaN
2022-01-14  COM7.BK          NaN
2022-01-17  COM7.BK          NaN
2022-01-18  COM7.BK          NaN
2022-01-19  COM7.BK          NaN
2022-01-20  COM7.BK          NaN
2022-01-21  COM7.BK    39.612500
2022-01-24  COM7.BK    39.296591
2022-01-25  COM7.BK    39.265393
2022-01-26  COM7.BK    39.148958
2022-01-27  COM7.BK    39.099147
2022-01-28  COM7.BK    39.149302
2022-01-31  COM7.BK    39.167611
2022-02-01  COM7.BK    39.364409
2022-02-02  COM7.BK    39.525425
2022-02-03  COM7.BK    39.452621
2022-02-04  COM7.BK    39.393053
Name: EMA_10, dtype: float64

In [32]:
df2.ta.ema(10).iloc[230:260]

Date        Stock
2022-12-22  COM7.BK    32.228449
2022-12-23  COM7.BK    32.186913
2022-12-26  COM7.BK    32.289292
2022-12-27  COM7.BK    32.418512
2022-12-28  COM7.BK    32.569691
2022-12-29  COM7.BK    32.693384
2022-12-30  COM7.BK    32.930950
2023-01-03  COM7.BK    33.307141
2023-01-04  COM7.BK    33.524025
2023-01-05  COM7.BK    33.792384
2023-01-06  COM7.BK    33.921041
2023-01-09  COM7.BK    34.208125
2022-01-10  EA.BK      45.443011
2022-01-11  EA.BK      54.635191
2022-01-12  EA.BK      62.428793
2022-01-13  EA.BK      68.578103
2022-01-14  EA.BK      73.109357
2022-01-17  EA.BK      77.225838
2022-01-18  EA.BK      80.321140
2022-01-19  EA.BK      82.944569
2022-01-20  EA.BK      85.045556
2022-01-21  EA.BK      86.855455
2022-01-24  EA.BK      88.927191
2022-01-25  EA.BK      90.394974
2022-01-26  EA.BK      91.595888
2022-01-27  EA.BK      91.805727
2022-01-28  EA.BK      91.522867
2022-01-31  EA.BK      91.109619
2022-02-01  EA.BK      91.180597
2022-02-02  EA.BK      91.375034
Name: EMA_10, dtype: float64

In [34]:
df2.ta.rsi()

Date        Stock
2022-01-10  COM7.BK          NaN
2022-01-11  COM7.BK          NaN
2022-01-12  COM7.BK          NaN
2022-01-13  COM7.BK          NaN
2022-01-14  COM7.BK          NaN
                         ...
2023-01-03  RCL.BK     53.764968
2023-01-04  RCL.BK     43.966585
2023-01-05  RCL.BK     46.082974
2023-01-06  RCL.BK     53.627825
2023-01-09  RCL.BK     59.700853
Name: RSI_14, Length: 1210, dtype: float64

In [35]:
df2.ta.macd()
# cannot work cause we sort multiple index

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (0)'

In [36]:
# dix with this 

df2.reset_index().ta.macd()

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
1205      0.286673       0.116667       0.170006
1206      0.175826       0.004656       0.171170
1207      0.106919      -0.051401       0.158320
1208      0.131486      -0.021467       0.152953
1209      0.229007       0.060843       0.168164

[1210 rows x 3 columns]

In [44]:
df3=df2.reset_index()

In [45]:
df3.set_index('Date').loc[:'2022-01-12']
#filter date

               Stock   Adj Close    Close     High      Low     Open    Volume
Date
2022-01-10   COM7.BK   38.940365   40.875   41.000   40.500   41.000   5061400
2022-01-11   COM7.BK   38.940365   40.875   41.000   40.375   40.875   8352600
2022-01-12   COM7.BK   37.987698   39.875   41.125   39.750   41.000  17821600
2022-01-10     EA.BK   95.662170   96.000   97.250   95.750   97.000  15569700
2022-01-11     EA.BK   95.662170   96.000   97.250   95.500   95.500  12653100
2022-01-12     EA.BK   97.156891   97.500   98.500   96.500   96.750  16026600
2022-01-10  KBANK.BK  140.005936  143.000  144.000  142.000  143.000  24845300
2022-01-11  KBANK.BK  140.495453  143.500  143.500  142.000  142.500  12020300
2022-01-12  KBANK.BK  140.985001  144.000  144.500  143.000  144.500  14343200
2022-01-10    PTT.BK   36.390663   38.500   38.750   38.000   38.750  34789500
2022-01-11    PTT.BK   36.863266   39.000   39.000   38.250   38.250  35007100
2022-01-12    PTT.BK   37.099571   39.250   39.500   39.000   39.250  36693300
2022-01-10    RCL.BK   44.756184   53.750   54.250   52.000   52.750  19088500
2022-01-11    RCL.BK   44.964355   54.000   54.250   53.000   53.750   6817200
2022-01-12    RCL.BK   44.131683   53.000   54.000   52.500   53.500   6846100

In [46]:
df3.set_index('Date').iloc[:3]

              Stock  Adj Close   Close    High     Low    Open    Volume
Date
2022-01-10  COM7.BK  38.940365  40.875  41.000  40.500  41.000   5061400
2022-01-11  COM7.BK  38.940365  40.875  41.000  40.375  40.875   8352600
2022-01-12  COM7.BK  37.987698  39.875  41.125  39.750  41.000  17821600

In [48]:
df3.ta.macd()

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
1205      0.286673       0.116667       0.170006
1206      0.175826       0.004656       0.171170
1207      0.106919      -0.051401       0.158320
1208      0.131486      -0.021467       0.152953
1209      0.229007       0.060843       0.168164

[1210 rows x 3 columns]

In [49]:
df3

           Date    Stock  Adj Close   Close    High     Low    Open    Volume
0    2022-01-10  COM7.BK  38.940365  40.875  41.000  40.500  41.000   5061400
1    2022-01-11  COM7.BK  38.940365  40.875  41.000  40.375  40.875   8352600
2    2022-01-12  COM7.BK  37.987698  39.875  41.125  39.750  41.000  17821600
3    2022-01-13  COM7.BK  37.987698  39.875  40.125  39.625  39.750  10742400
4    2022-01-14  COM7.BK  37.749527  39.625  40.250  39.500  39.750   7766200
...         ...      ...        ...     ...     ...     ...     ...       ...
1205 2023-01-03   RCL.BK  30.500000  30.500  31.250  30.500  31.000   2484200
1206 2023-01-04   RCL.BK  29.250000  29.250  30.000  29.250  30.000   6753200
1207 2023-01-05   RCL.BK  29.500000  29.500  29.750  29.000  29.250   3638900
1208 2023-01-06   RCL.BK  30.500000  30.500  30.750  29.750  29.750   4219600
1209 2023-01-09   RCL.BK  31.500000  31.500  31.500  30.500  30.750   6097100

[1210 rows x 8 columns]

In [50]:
df3 = df2.reset_index().set_index('Stock')

In [51]:
df3

              Date  Adj Close   Close    High     Low    Open    Volume
Stock
COM7.BK 2022-01-10  38.940365  40.875  41.000  40.500  41.000   5061400
COM7.BK 2022-01-11  38.940365  40.875  41.000  40.375  40.875   8352600
COM7.BK 2022-01-12  37.987698  39.875  41.125  39.750  41.000  17821600
COM7.BK 2022-01-13  37.987698  39.875  40.125  39.625  39.750  10742400
COM7.BK 2022-01-14  37.749527  39.625  40.250  39.500  39.750   7766200
...            ...        ...     ...     ...     ...     ...       ...
RCL.BK  2023-01-03  30.500000  30.500  31.250  30.500  31.000   2484200
RCL.BK  2023-01-04  29.250000  29.250  30.000  29.250  30.000   6753200
RCL.BK  2023-01-05  29.500000  29.500  29.750  29.000  29.250   3638900
RCL.BK  2023-01-06  30.500000  30.500  30.750  29.750  29.750   4219600
RCL.BK  2023-01-09  31.500000  31.500  31.500  30.500  30.750   6097100

[1210 rows x 7 columns]

In [52]:
df3.ta.macd()

         MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Stock
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
...               ...            ...            ...
RCL.BK       0.286673       0.116667       0.170006
RCL.BK       0.175826       0.004656       0.171170
RCL.BK       0.106919      -0.051401       0.158320
RCL.BK       0.131486      -0.021467       0.152953
RCL.BK       0.229007       0.060843       0.168164

[1210 rows x 3 columns]

In [53]:
df3.iloc[220:260]

              Date  Adj Close  Close    High    Low   Open    Volume
Stock
COM7.BK 2022-12-07  32.750000  32.75   33.25  32.50  33.00   7871800
COM7.BK 2022-12-08  32.750000  32.75   33.00  32.50  32.75   1520200
COM7.BK 2022-12-09  32.500000  32.50   33.00  32.00  33.00   8085500
COM7.BK 2022-12-13  32.500000  32.50   32.75  32.25  32.50   2626100
COM7.BK 2022-12-14  33.000000  33.00   33.00  32.50  32.50   3792100
COM7.BK 2022-12-15  32.000000  32.00   33.00  32.00  33.00   9208100
COM7.BK 2022-12-16  32.250000  32.25   32.25  31.75  32.00   3743200
COM7.BK 2022-12-19  31.750000  31.75   32.25  31.50  32.25   5442500
COM7.BK 2022-12-20  32.250000  32.25   33.00  31.75  32.00  14485000
COM7.BK 2022-12-21  32.000000  32.00   33.00  31.75  33.00  12638600
COM7.BK 2022-12-22  32.250000  32.25   32.50  32.00  32.25   4587600
COM7.BK 2022-12-23  32.000000  32.00   32.25  31.75  31.75   4945800
COM7.BK 2022-12-26  32.750000  32.75   32.75  32.25  32.25   4924800
COM7.BK 2022-12-27  33.000000  33.00   33.25  32.50  33.00   8589100
COM7.BK 2022-12-28  33.250000  33.25   33.25  32.75  33.25   5872200
COM7.BK 2022-12-29  33.250000  33.25   33.50  33.00  33.50   6069500
COM7.BK 2022-12-30  34.000000  34.00   34.00  33.25  33.50  25575200
COM7.BK 2023-01-03  35.000000  35.00   35.00  34.00  34.25  16611800
COM7.BK 2023-01-04  34.500000  34.50   34.75  33.75  34.50  11822300
COM7.BK 2023-01-05  35.000000  35.00   35.00  34.00  34.75  13950400
COM7.BK 2023-01-06  34.500000  34.50   35.00  34.25  34.75  14533000
COM7.BK 2023-01-09  35.500000  35.50   36.00  34.50  34.50  18362800
EA.BK   2022-01-10  95.662170  96.00   97.25  95.75  97.00  15569700
EA.BK   2022-01-11  95.662170  96.00   97.25  95.50  95.50  12653100
EA.BK   2022-01-12  97.156891  97.50   98.50  96.50  96.75  16026600
EA.BK   2022-01-13  95.911293  96.25   97.50  95.50  97.25  12940600
EA.BK   2022-01-14  93.170967  93.50   96.50  93.25  96.50  21024800
EA.BK   2022-01-17  95.413048  95.75   96.25  93.75  94.00  14240100
EA.BK   2022-01-18  93.918327  94.25   96.25  94.00  96.00  11645600
EA.BK   2022-01-19  94.416573  94.75   95.25  93.50  93.75  10450600
EA.BK   2022-01-20  94.167450  94.50   96.50  94.50  95.50  11841800
EA.BK   2022-01-21  94.665688  95.00   95.75  93.50  94.00  15373300
EA.BK   2022-01-24  97.904251  98.25  100.00  95.25  95.50  47699900
EA.BK   2022-01-25  96.658653  97.00   98.75  95.50  97.50  28541600
EA.BK   2022-01-26  96.658653  97.00   98.00  96.00  98.00  11569200
EA.BK   2022-01-27  92.423607  92.75   96.50  92.00  96.00  39395500
EA.BK   2022-01-28  89.932404  90.25   93.50  89.50  93.00  24581400
EA.BK   2022-01-31  88.935921  89.25   92.25  89.00  90.25  28439600
EA.BK   2022-02-01  91.178009  91.50   91.75  89.75  90.00  18429600
EA.BK   2022-02-02  91.925369  92.25   92.75  91.25  92.25   9499700

In [54]:
df3.ta.rsi(append=True)
df3.ta.macd(append=True)

         MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Stock
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
COM7.BK           NaN            NaN            NaN
...               ...            ...            ...
RCL.BK       0.286673       0.116667       0.170006
RCL.BK       0.175826       0.004656       0.171170
RCL.BK       0.106919      -0.051401       0.158320
RCL.BK       0.131486      -0.021467       0.152953
RCL.BK       0.229007       0.060843       0.168164

[1210 rows x 3 columns]

In [55]:
df3

,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Stock,,,,,,,,,,,
COM7.BK,2022-01-10,38.940365,40.875,41.000,40.500,41.000,5061400,NaN,NaN,NaN,NaN
COM7.BK,2022-01-11,38.940365,40.875,41.000,40.375,40.875,8352600,NaN,NaN,NaN,NaN
COM7.BK,2022-01-12,37.987698,39.875,41.125,39.750,41.000,17821600,NaN,NaN,NaN,NaN
COM7.BK,2022-01-13,37.987698,39.875,40.125,39.625,39.750,10742400,NaN,NaN,NaN,NaN
COM7.BK,2022-01-14,37.749527,39.625,40.250,39.500,39.750,7766200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
RCL.BK,2023-01-03,30.500000,30.500,31.250,30.500,31.000,2484200,53.764968,0.286673,0.116667,0.170006
RCL.BK,2023-01-04,29.250000,29.250,30.000,29.250,30.000,6753200,43.966585,0.175826,0.004656,0.171170
RCL.BK,2023-01-05,29.500000,29.500,29.750,29.000,29.250,3638900,46.082974,0.106919,-0.051401,0.158320
RCL.BK,2023-01-06,30.500000,30.500,30.750,29.750,29.750,4219600,53.627825,0.131486,-0.021467,0.152953
RCL.BK,2023-01-09,31.500000,31.500,31.500,30.500,30.750,6097100,59.700853,0.229007,0.060843,0.168164

# real section to create stock screening

In [93]:
df4=df3.reset_index()

In [94]:
tickers

'PTT.BK KBANK.BK EA.BK COM7.BK RCL.BK'

In [95]:
tickers.split()

['PTT.BK', 'KBANK.BK', 'EA.BK', 'COM7.BK', 'RCL.BK']

In [96]:
df4.describe()

,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
count,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1.210000e+03,1196.000000,1185.000000,1185.000000,1185.000000
mean,68.418887,69.772417,70.576860,69.057645,69.843698,2.191500e+07,48.339550,-0.057386,0.002314,-0.059700
std,45.624223,45.282352,45.584253,44.947481,45.273980,2.356287e+07,15.448806,4.620166,1.392706,4.349934
min,24.591999,26.500000,27.500000,26.250000,26.500000,1.261400e+06,8.252504,-29.535556,-13.273444,-25.893664
25%,33.750000,34.500000,35.000000,34.250000,34.500000,7.029625e+06,38.621227,-0.952654,-0.298425,-0.917261
50%,38.084518,42.000000,42.750000,41.250000,42.000000,1.302230e+07,48.923877,-0.133331,0.018914,-0.134764
75%,94.750000,95.000000,96.000000,94.000000,95.000000,2.810682e+07,56.859586,0.614145,0.275466,0.596449
max,166.930145,170.500000,175.000000,169.000000,172.000000,2.528827e+08,97.146868,17.352257,7.579099,15.419617

In [97]:
df4.groupby('Stock').max()

,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Stock,,,,,,,,,,,
COM7.BK,2023-01-09,42.000000,43.0,43.75,42.5,43.50,83622400,71.818106,1.075008,0.792948,0.947745
EA.BK,2023-01-09,100.000000,100.0,101.00,98.0,99.25,121563500,97.146868,17.352257,7.579099,15.419617
KBANK.BK,2023-01-09,166.930145,170.5,175.00,169.0,172.00,90016600,91.985240,13.245475,6.008010,11.644206
PTT.BK,2023-01-09,38.585033,40.5,41.25,40.5,40.75,252882700,73.763106,0.737341,4.041502,0.665569
RCL.BK,2023-01-09,44.964355,54.0,54.25,53.0,53.75,30329900,92.724811,4.877723,2.622705,3.758852

In [98]:
df4.groupby('Stock')['Close'].max()

Stock
COM7.BK      43.0
EA.BK       100.0
KBANK.BK    170.5
PTT.BK       40.5
RCL.BK       54.0
Name: Close, dtype: float64

In [99]:
df4.groupby('Stock')['Close'].transform(max)

0       43.0
1       43.0
2       43.0
3       43.0
4       43.0
        ...
1205    54.0
1206    54.0
1207    54.0
1208    54.0
1209    54.0
Name: Close, Length: 1210, dtype: float64

In [100]:
# create market bet indicator
df4['52-week-high']=df4.groupby('Stock')['Close'].transform('max')
df4['52-week-low']=df4.groupby('Stock')['Close'].transform('min')

In [101]:

df4['from-high']=df4['Close']/df4['52-week-high']-1

In [102]:
df4

,Stock,Date,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,52-week-high,52-week-low,from-high
0,COM7.BK,2022-01-10,38.940365,40.875,41.000,40.500,41.000,5061400,NaN,NaN,NaN,NaN,43.0,27.0,-0.049419
1,COM7.BK,2022-01-11,38.940365,40.875,41.000,40.375,40.875,8352600,NaN,NaN,NaN,NaN,43.0,27.0,-0.049419
2,COM7.BK,2022-01-12,37.987698,39.875,41.125,39.750,41.000,17821600,NaN,NaN,NaN,NaN,43.0,27.0,-0.072674
3,COM7.BK,2022-01-13,37.987698,39.875,40.125,39.625,39.750,10742400,NaN,NaN,NaN,NaN,43.0,27.0,-0.072674
4,COM7.BK,2022-01-14,37.749527,39.625,40.250,39.500,39.750,7766200,NaN,NaN,NaN,NaN,43.0,27.0,-0.078488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,RCL.BK,2023-01-03,30.500000,30.500,31.250,30.500,31.000,2484200,53.764968,0.286673,0.116667,0.170006,54.0,26.5,-0.435185
1206,RCL.BK,2023-01-04,29.250000,29.250,30.000,29.250,30.000,6753200,43.966585,0.175826,0.004656,0.171170,54.0,26.5,-0.458333
1207,RCL.BK,2023-01-05,29.500000,29.500,29.750,29.000,29.250,3638900,46.082974,0.106919,-0.051401,0.158320,54.0,26.5,-0.453704
1208,RCL.BK,2023-01-06,30.500000,30.500,30.750,29.750,29.750,4219600,53.627825,0.131486,-0.021467,0.152953,54.0,26.5,-0.435185
1209,RCL.BK,2023-01-09,31.500000,31.500,31.500,30.500,30.750,6097100,59.700853,0.229007,0.060843,0.168164,54.0,26.5,-0.416667

In [103]:
df4.loc[(df4['RSI_14']>50)&(df4['MACDh_12_26_9']>0) 
        &(df4['MACD_12_26_9']>0)&(df4['from-high']> -0.2),'Action']='Hodl'

df4.loc[(df4['RSI_14']>50)&(df4['MACDh_12_26_9']<0)&(df4['from-high']> -0.2),'Action']='Aware'

In [104]:
from datetime import date
date.today()

datetime.date(2023, 1, 10)

In [105]:
today = date.today().strftime("%Y-%m-%d")
today

'2023-01-10'

In [106]:
df4=df4.set_index('Date')

In [107]:
df4.index

DatetimeIndex(['2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-17', '2022-01-18', '2022-01-19',
               '2022-01-20', '2022-01-21',
               ...
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09'],
              dtype='datetime64[ns]', name='Date', length=1210, freq=None)

In [109]:
df4.loc['2023-01-9','Action']

Date
2023-01-09    Hodl
2023-01-09     NaN
2023-01-09    Hodl
2023-01-09     NaN
2023-01-09     NaN
Name: Action, dtype: object

In [111]:
df4.loc['2023-01-9']

,Stock,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,52-week-high,52-week-low,from-high,Action
Date,,,,,,,,,,,,,,,
2023-01-09,COM7.BK,35.5,35.5,36.00,34.50,34.50,18362800,68.565499,0.797626,0.234577,0.563049,43.0,27.00,-0.174419,Hodl
2023-01-09,EA.BK,90.5,90.5,93.25,90.50,93.25,19198900,31.698207,-0.786841,-0.552976,-0.233865,100.0,77.25,-0.095000,NaN
2023-01-09,KBANK.BK,154.5,154.5,155.00,153.00,154.50,11927300,77.453762,2.191909,1.060484,1.131425,170.5,139.00,-0.093842,Hodl
2023-01-09,PTT.BK,33.0,33.0,33.25,32.75,32.75,48532500,55.393412,-0.095918,0.176481,-0.272399,40.5,31.00,-0.185185,NaN
2023-01-09,RCL.BK,31.5,31.5,31.50,30.50,30.75,6097100,59.700853,0.229007,0.060843,0.168164,54.0,26.50,-0.416667,NaN

In [110]:
df4

,Stock,Adj Close,Close,High,Low,Open,Volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,52-week-high,52-week-low,from-high,Action
Date,,,,,,,,,,,,,,,
2022-01-10,COM7.BK,38.940365,40.875,41.000,40.500,41.000,5061400,NaN,NaN,NaN,NaN,43.0,27.0,-0.049419,NaN
2022-01-11,COM7.BK,38.940365,40.875,41.000,40.375,40.875,8352600,NaN,NaN,NaN,NaN,43.0,27.0,-0.049419,NaN
2022-01-12,COM7.BK,37.987698,39.875,41.125,39.750,41.000,17821600,NaN,NaN,NaN,NaN,43.0,27.0,-0.072674,NaN
2022-01-13,COM7.BK,37.987698,39.875,40.125,39.625,39.750,10742400,NaN,NaN,NaN,NaN,43.0,27.0,-0.072674,NaN
2022-01-14,COM7.BK,37.749527,39.625,40.250,39.500,39.750,7766200,NaN,NaN,NaN,NaN,43.0,27.0,-0.078488,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-03,RCL.BK,30.500000,30.500,31.250,30.500,31.000,2484200,53.764968,0.286673,0.116667,0.170006,54.0,26.5,-0.435185,NaN
2023-01-04,RCL.BK,29.250000,29.250,30.000,29.250,30.000,6753200,43.966585,0.175826,0.004656,0.171170,54.0,26.5,-0.458333,NaN
2023-01-05,RCL.BK,29.500000,29.500,29.750,29.000,29.250,3638900,46.082974,0.106919,-0.051401,0.158320,54.0,26.5,-0.453704,NaN
2023-01-06,RCL.BK,30.500000,30.500,30.750,29.750,29.750,4219600,53.627825,0.131486,-0.021467,0.152953,54.0,26.5,-0.435185,NaN
2023-01-09,RCL.BK,31.500000,31.500,31.500,30.500,30.750,6097100,59.700853,0.229007,0.060843,0.168164,54.0,26.5,-0.416667,NaN

# you can do it more about other stock 

#like create function to loop stock and craete signal or back test with vectorbt